html {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

body {
  background: #000;
  min-height: 100vh;
  margin: 0;
}

#game {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
}
